
// Global styling for this template
body {
    overflow-x: hidden;
    @include body-font;
    background-color: $gray-900;
    color: darken($primary, 10%);
  }

  p {
    line-height: 1.75;
  }
  
  a {
    color: darken($primary, 10%);
    &:hover {
      color: darken($primary, 10%);
    }
  }
  
  .text-primary {
    color: darken($primary, 10%);
  }

  .text-muted {
    color: darken($primary, 10%) !important;

    ::-moz-selection {
      background: darken(#EE00EE, 10%);
      text-shadow: none;
    }
    
    ::selection {
      background: darken(#EE00EE, 10%);
      text-shadow: none;
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    @include heading-font;
    color: $primary;
  }
  
  .page-section {
    padding: 100px 0;
    h2.section-heading {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
    }
    h3.section-subheading {
      font-size: 16px;
      margin-bottom: 75px;
      text-transform: none;
      @include serif-font;
    }
  }
  @media (min-width: 768px) {
    section {
      padding: 150px 0;
    }
  }
  
  // Highlight color customization

  ::-moz-selection {
    background: #EE00EE;
    text-shadow: none;
  }
  
  ::selection {
    background: #EE00EE;
    text-shadow: none;
  }

  img::selection {
    background: transparent;
  }
  
  img::-moz-selection {
    background: transparent;
  }
